<div class="container mt-5">
    <div class="card" style="padding: 20px;">

        <form #mostReviewedRoomForm="ngForm">
            <div class="input">
                <label> Customer age </label>
                <input type="text"
                ngModel
                name="age"
                id="age"
                class="form-control mb-3">
            </div>
            
            <div class="input">
                <input type="submit"
                value="list of most reviewed rooms" class="btn btn-primary w-100" (click)="getMostRooms(mostReviewedRoomForm)">
            </div>
        </form>
    </div>
</div>

<div class="container mt-5">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>room_id</th>
            <th>category_id</th>
            <th>count of reviews</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let mostReviewedRooms of mostReviewedRooms">
            <td>{{mostReviewedRooms.room_id}}</td>
            <td>{{mostReviewedRooms.category_id}}</td>
            <td>{{mostReviewedRooms.counter_of_Reviews}}</td>
          </tr>
    </tbody>
    </table>
    </div>
</div>
