<div class="container mt-5">
    <div class="card" style="padding: 20px;">

        
        <form #bookedRoomsByCustomerForm="ngForm">
            <div class="input">
                <label> Customer ID </label>
                <input type="text"
                ngModel
                name="customerId"
                id="customerId"
                class="form-control mb-3">
            </div>
            
            <div class="input">
                <input type="submit"
                value="list of booked rooms" class="btn btn-primary w-100" (click)="getBookedRooms(bookedRoomsByCustomerForm)">
            </div>
        </form>
    </div>
</div>

<div class="container mt-5">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>customer_Id</th>
            <th>room_Id</th>
            <th>checkout_date</th>
        </tr>
    </thead>
    <tbody>
        
    
        <tr *ngFor="let user of user">
            <td>{{user.customerID}}</td>
            <td>{{user.roomId}}</td>
            <td>{{user.checkOutDate}}</td>
          </tr>
    </tbody>
    </table>
    </div>
</div>

<div class="container mt-5">
    <div class="card" style="padding: 20px;">

        <form #reviewRoomForm="ngForm" (ngSubmit)="reviewRoom(reviewRoomForm)">
            <div class="input">
                <label> Customer ID </label>
                <input type="text"
                ngModel
                name="customerId"
                id="customerId"
                class="form-control mb-3">
            </div>
            <div class="input">
                <label> Room ID </label>
                <input type="text"
                ngModel
                name="roomId"
                id="roomId"
                class="form-control mb-3">
            </div>

            <div class="input">
                <label> Review Text </label>
                <input type="text"
                ngModel
                name="reviewText"
                id="reviewText"
                class="form-control mb-3">
            </div>

            <div class="input">
                <input type="submit"
                value="review" class="btn btn-primary w-100">
            </div>
        </form>
    </div>
</div>