<div class="container mt-5">
  <div class="card" style="padding: 20px;">
      <form #fillDataBaseForm="ngForm" (ngSubmit)="deleteNowDataBase()">
        <div class="input">
            <input type="submit"
            value="delete database" class="btn btn-danger w-100">
        </div>
        <div class="input">
            <input type=""
            value="" class="btn w-100">
        </div>
      </form>

      <form #deleteDataBaseForm="ngForm" (ngSubmit)="fillNowDataBase()">
          <div class="input">
              <input type="submit"
              value="fill database" class="btn btn-primary w-100">
          </div>
      </form>
  </div>
</div>



<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #fillDataBaseForm="ngForm" (ngSubmit)="deleteMongoDbCollections()">
          <div class="input">
              <input type="submit"
              value="delete mongoDb collections" class="btn btn-danger w-100">
          </div>
          <div class="input">
              <input type=""
              value="" class="btn w-100">
          </div>
        </form>
  
        <form #deleteDataBaseForm="ngForm" (ngSubmit)="migrateMongo()">
            <div class="input">
                <input type="submit"
                value="migrate data to mongoDb" class="btn btn-primary w-100">
            </div>
        </form>
    </div>
  </div>
