<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>CUSTOMER_ID</th>
                <th>ROOM_ID</th>
                <th>CHECKOUT_DATE</th>
            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let bookedRoom of bookedRoomsByCustomer">
                <td>{{bookedRoomsByCustomer.customerID}}</td>
                <td>{{bookedRoomsByCustomer.roomId}}</td>
                <td>{{bookedRoomsByCustomer.checkOutDate}}</td>
              </tr>
        </tbody>
        </table>
        </div>
    </div>

<div class="container mt-5">
    <div class="card" style="padding: 20px;">

        <form #bookedRoomsByCustomerForm="ngForm">
            <div class="input">
                <label> Customer ID </label>
                <input type="text"
                ngModel
                name="customer_id"
                id="customer_id"
                class="form-control mb-3">
            </div>
            <div class="input">
                <label> Room ID </label>
                <input type="text"
                ngModel
                name="room_id"
                id="room_id"
                class="form-control mb-3">
            </div>

            <div class="input">
                <label> Review Text </label>
                <input type="text"
                ngModel
                name="reviewText"
                id="reviewText"
                class="form-control mb-3">
            </div>

            <div class="input">
                <input type="submit"
                value="review" class="btn btn-primary w-100">
            </div>
        </form>
    </div>
</div>
    